<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlayChess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlayChess.Properties.Settings>
            <setting name="lightColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="darkColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="engineFile" serializeAs="String">
                <value>./engine/stockfish-222-32-ja.exe</value>
            </setting>
            <setting name="engineTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="enginePly" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="dragDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clickSquares" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoReply" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bonus" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="alert" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="speechIO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="commandsGrammar" serializeAs="String">
                <value>new game, repeat, move, back</value>
            </setting>
            <setting name="filesGrammar" serializeAs="String">
                <value>alpha, bravo, charlie, delta, ecko, foxtrot, golf, hotel</value>
            </setting>
            <setting name="fenChoice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fenText" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="locationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="windowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="windowHeight" serializeAs="String">
                <value>600</value>
            </setting>
        </PlayChess.Properties.Settings>
    </userSettings>
</configuration>